GMAIL_USER_SENDER=""
GMAIL_APP_PASSWORD=""
GMAIL_USER_RECEIVER=""
SITE_URL=""
CATALOG_TOKEN_SECRET=""
NEXT_PUBLIC_GA_ID=""
NEXT_PUBLIC_META_PIXEL_ID=""
CRM_BASE_URL=""
CRM_EXTERNAL_API_KEY=""
INDICACAO_COOKIE_SECRET=""
